
<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-button fill="clear" color="dark" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" size="large" routerLink="/home">
        Shopping Dashboard
      </ion-button>
      <ion-button fill="clear" color="dark" routerLink="/men">
        Men
      </ion-button>
      <ion-button fill="clear" color="dark" routerLink="/women">
        Women
      </ion-button>
      <!-- <ion-button fill="clear" color="dark" routerLink="/home">
        Accesories
      </ion-button> -->
      <ion-button fill="clear" color="dark" routerLink="/profile">
        Profile
      </ion-button>
      
    </ion-title>
    <ion-button slot="end" fill="clear" color="dark" routerLink="/login" >
      <ion-icon name="person" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button slot="end" fill="clear" color="dark" routerLink="/cart" >
      <ion-icon name="cart-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
  <div class="container my-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 shadow p-3">
            <div class="text-center" style="font-size: 18px;">Profile Details</div>
            <div class="mt-2 shadow p-1" >Shivang Konde</div>
            <div class="mt-2 shadow p-1" >sskonde_b18@gamil.com</div>
            <div class="mt-2 shadow p-1">7058360560</div>
            <button class="btn btn-primary mt-3" style="width: 100%;">Update</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
</ion-content>
